<nav id="nav-main" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MMaps</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Restaurant<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="Restaurant()">Restaurant</a></li>
                    <li><a href="" ng-click="getHotel()">Hotel</a></li>
                    <li><a href="" ng-click="getAttraction()">Attraction</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="" ng-click="getEmergency()">Emergency</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" id="profile-img">
                    <img src="public/avatar_huy.jpg" class="img-circle" width="35px" height="35px"></a>
            </li>
            <li>
                <p>
                    <span id="cogfig-icon" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </p>
            </li>
        </ul>
    </div>
    <!-- /.container-fluid -->
    <div id="panel-new-list" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col col-md-4">
                    <img src="public/akamon.jpg" class="img-rounded" width="100" height="100">
                </div>
                <div class="col col-md-8">
                    <input type="text" ng-model="namesavelist" class="form-control" placeholder="名前...">
                    <p id="panel-new-list-desc">
                        <span class="glyphicon glyphicon-map-marker" /> {{datas.length}}
                    </p>
                    <button ng-click="save()" class="btn btn-success btn-sm pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="panel-new-item" ng-if="selected" class="panel panel-default">
        <div class="panel-body">
            <b>名前の所</b>
            <button ng-click="addData()" class="pull-right btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</nav>
<ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <div ng-repeat="marker in markers">
        <ui-gmap-marker options="marker.options" coords="marker.coords" events="marker.events" idkey="marker.id" ng-click="selected(marker)">
        </ui-gmap-marker>
    </div>
</ui-gmap-google-map>
